includes:
	- phpstan-baseline.neon

parameters:
	level: 9
	paths:
		- src
	scanDirectories:
		- ../../includes
		- ../../tests/phpunit
		- ../../vendor
		- ../../extensions/CirrusSearch
		- ../../extensions/Wikibase
		- ../../extensions/WikibaseCirrusSearch
	bootstrapFiles:
		- ../../includes/AutoLoader.php
	excludePaths:
		- src/EntryPoints/WikibaseFacetedSearchHooks.php
		- src/Persistence/Search/AggregatableKeywordIndexField.php
		- src/Persistence/Search/SearchIndexFieldsBuilder.php
		- src/Persistence/Search/Query/HasWbFacetFeature.php
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#no value type specified in iterable type array\.$#'
