parameters:
	ignoreErrors:
		-
			message: '#^Method ProfessionalWiki\\WikibaseFacetedSearch\\EntryPoints\\WikibaseFacetedSearchHooks\:\:rewriteLinkForNonEntityResult\(\) never assigns null to &\$titleSnippet so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/EntryPoints/WikibaseFacetedSearchHooks.php

		-
			message: '#^Method ProfessionalWiki\\WikibaseFacetedSearch\\EntryPoints\\WikibaseFacetedSearchHooks\:\:rewriteLinkForNonEntityResult\(\) never assigns string to &\$titleSnippet so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/EntryPoints/WikibaseFacetedSearchHooks.php

		-
			message: '#^Parameter \#1 \$configArray of method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\ConfigDeserializer\:\:newConfig\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \#1 \$facets of method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\ConfigDeserializer\:\:newFacetConfigList\(\) expects array\<string, array\<array\<string, string\>\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \#1 \$propertyId of method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\ConfigDeserializer\:\:newPropertyId\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \$linkTargetSitelinkSiteId of class ProfessionalWiki\\WikibaseFacetedSearch\\Application\\Config constructor expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\Search\\Query\\HasWbFacetFeature\:\:doApply\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Persistence/Search/Query/HasWbFacetFeature.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/WikibaseFacetedSearchExtension.php
