parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$configArray of method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\ConfigDeserializer\:\:newConfig\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \#1 \$configPerItemType of method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\ConfigDeserializer\:\:newFacetConfigList\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \#1 \$configPerItemType of method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\ConfigDeserializer\:\:newIconsList\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \#1 \$propertyId of method ProfessionalWiki\\WikibaseFacetedSearch\\Persistence\\ConfigDeserializer\:\:newPropertyId\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \#1 \$value of static method ProfessionalWiki\\WikibaseFacetedSearch\\Application\\FacetType\:\:from\(\) expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \$sitelinkSiteId of class ProfessionalWiki\\WikibaseFacetedSearch\\Application\\Config constructor expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/ConfigDeserializer.php

		-
			message: '#^Parameter \#2 \$terms of class Elastica\\Query\\Terms constructor expects list\<bool\|float\|int\|string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/Search/Query/ItemTypeQueryBuilder.php

		-
			message: '#^Parameter \#2 \$terms of class Elastica\\Query\\Terms constructor expects list\<bool\|float\|int\|string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/Search/Query/ListFacetQueryBuilder.php

		-
			message: '#^Parameter \#2 \$terms of class Elastica\\Query\\Terms constructor expects list\<bool\|float\|int\|string\>, array\<float\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/Search/Query/ListFacetQueryBuilder.php

		-
			message: '#^Parameter \#2 \$terms of class Elastica\\Query\\Terms constructor expects list\<bool\|float\|int\|string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Persistence/Search/Query/ListFacetQueryBuilder.php
