<div id="Documentation">
	<section>
		<h2 id="ConfigureTabHeaders">Configure Tab Headers</h2>

    	{{>ConfigEditPageItemTypesTable}}

		<p>
			You can add a label to an item type by editing the <code>MediaWiki:WikibaseFacetedSearch-item-type-{Q}</code> page.
			Replace <code>{Q}</code> with the Q-ID of the item type (<code>MediaWiki:WikibaseFacetedSearch-item-type-Q1</code> for <code>Q1</code>).
		</p>
		<p>
			To add a label in a different language, edit the subpage of the page you created above (<code>MediaWiki:WikibaseFacetedSearch-item-type-Q1/de</code> for German).
		</p>
	</section>
	<section>
		<h2 id="ConfigurationDocumentation">Configuration Documentation</h2>

		<p>
			The configuration defined on this page affects the <a href="{{searchUrl}}">search interface</a>.
		</p>

		<p>
			Besides the configuration reference below, you can consult the
			<a href="https://professional.wiki/en/extension/wikibase-faceted-search">Wikibase Faceted Search documentation</a>.
		</p>

		<h3 id="TableOfContents">Table of Contents</h3>

		<ul>
			<li>
				<a href="#ItemTypeProperty">
					Item Type Property (<code>itemTypeProperty</code>)
				</a>
			</li>
			<li>
				<a href="#ItemTypes">
					Item Types (Tabs) (<code>configPerItemType</code>)
				</a>
			</li>
			<li>
				<a href="#Facets">
					Facets (<code>facets</code>)
				</a>
			</li>
			<li>
				<a href="#WikitextPages">
					Use Wikitext Pages (<code>sitelinkSiteId</code>)
				</a>
			</li>
			<li>
				<a href="#FullExample">
					{{msg-wikibase-faceted-search-config-help-example}}
				</a>
			</li>
		</ul>
	</section>

	<section>
		<h3 id="ItemTypeProperty">Item Type Property</h3>

		<p>
			The Property ID of the "item type" (often "instance of") property.
		</p>

		<p>
			Example configuration:
		</p>

		<pre>
{
	"itemTypeProperty": "P31"
}</pre>

		<p>
			This is used to filter results for the tabs. The Property ID is combined with the
			Item IDs that are keys in the <code>configPerItemType</code>
			map part of the <a href="#ItemTypes">item types configuration</a>.
			For instance, a tab might filter for items where P31 is Q1, if Q1 is the key in the map.
		</p>
	</section>

	<section>
		<h3 id="ItemTypes">Item Types (Tabs)</h3>

		<p>
			Defines the tabs that are shown in the search interface.
		</p>

		<p>
			Each tab shows only items of a specific type. An items type is determined by the value its Statements for
			the "item type" Property.
		</p>

		<p>
			Suppose you have Q1 that represents a "Person" and Q2 that represents a "City". This is minimal configuration
			to show both tabs:
		</p>

		<pre>
"configPerItemType": {
	"Q1": {},
	"Q2": {}
}</pre>

		<p>
			Per item type you can configure an optional icon and an optional list of facets.
		</p>

		<pre>
"configPerItemType": {
	"Q1": {
		"icon": "user",
		"facets": {}
	}
}</pre>

		<p>
			The icon is a string that represents a <a href="https://fontawesome.com/icons?d=gallery" rel="nofollow">Font Awesome icon</a>.
			The facets define one or more facets that are shown on the tab. See the <a href="#Facets">Facets</a> section for more information.
		</p>
	</section>

	<section>
		<h3 id="Facets">Facets</h3>

		<p>
			Facets are defined per item type and are shown only in the tab for that item type.
			They are defined inside of the <code>facets</code> element inside of the <code>configPerItemType</code> map.
			See the <a href="#ItemTypes">Item Types</a> section for more information.
		</p>

		<p>
			The below example defines a tab for items of type Q1 (say "people") with a
			facet that allows filtering by the value of property P42 (say "birth date")
			and a facet that allows filtering by the value of property P43 (say "occupation").
		</p>

		<pre>
"configPerItemType": {
	"Q1": {
		"facets": {
			"P42": {
				"type": "range"
			},
			"P43": {
				"type": "list"
			}
		}
	}
}</pre>

		<p>
			There are two types of facets: range facets are list facets.
		</p>

		<p>
			Range facets allow filtering numeric values by setting a minimum and/or maximum value.
			For instance, you could filter for people with a birth date before 1900 or a birth date between 1900 and 1950.
		</p>

		<p>
			List facets show values that are present in the search results, together with the number of items that have that value.
			You can select one or more values to filter by.
		</p>

		<p>
			List facets support both string and item values. If the value is an item, the label of the item is shown.
			if there is no label, the ID is shown.
		</p>

		<p>
			List facets support the following optional configuration options:
		</p>

		<ul>
			<li>
				<code>defaultCombineWith</code>:
				The logical operator with which to combine multiple selected values.
				Either <code>"AND"</code> or <code>"OR"</code>. The default is <code>"AND"</code>.
			</li>
			<li>
				<code>allowCombineWithChoice</code>:
				If users should be able to the logical operator to use via the UI.
				Either <code>true</code> or <code>false</code>. The default is <code>true</code>.
			</li>
		</ul>

		<p>
			Example list facet:
		</p>

		<pre>
"P43": {
	"type": "list",
	"defaultCombineWith": "OR",
	"allowCombineWithChoice": false
}</pre>

	</section>

    <section>
        <h3 id="WikitextPages">Use Wikitext Pages</h3>

		<p>
			This optional configuration is for wikis on which you have regular wiki pages (with wikitext)
			that represent items. For instance, an Author:Q1337 page that shows data from Item:Q1337.
			This approach is often used to provide a more user friendly view on Wikibase data. If you
			do not have such a wiki, this configuration should be omitted.
		</p>

        <p>
            By default, Wikibase Faceted Search indexes your Wikibase Item pages. This means the search results
			will link to these Item pages.
        </p>

		<p>
			You can use this configuration to instead index your Wikibase Item data on the wikitext pages. This means
			the search results will link to these wikitext pages instead of to the Item pages. It also means that you
			can combine structured search based on Wikibase values with full-text search for whatever is on your
			wikitext pages.
		</p>

        <p>
            You will need to create sitelinks from the Wikibase Item pages to the wikitext pages. In the
			Wikibase Faceted Search configuration, you need to specify the site ID used in those sitelinks.
        </p>

        <p>
            Example configuration:
        </p>

        <pre>
{
	"sitelinkSiteId": "enwiki"
}</pre>
    </section>

    <section>
        <h3 id="FullExample">{{msg-wikibase-faceted-search-config-help-example}}</h3>

        <pre>{{exampleContents}}</pre>
    </section>
</div>
