<div class="wikibase-faceted-search">
	<details class="wikibase-faceted-search__header">
		<summary class="cdx-button cdx-button--size-large">
			<span
				class="wikibase-faceted-search__icon wikibase-faceted-search__icon--filter cdx-button__icon"
				aria-hidden="true"
			></span>
			{{msg-filters}}
		</summary>
	</details>
	<div class="wikibase-faceted-search__facets">
		{{#facets}}
			{{!
				Codex - Accordion component
				@see https://doc.wikimedia.org/codex/v1.14.0/components/demos/accordion.html#markup-structure
			}}
			<details class="wikibase-faceted-search__facet cdx-accordion" {{#expanded}}open{{/expanded}}>
				<summary>
					<div class="cdx-accordion__header">
						<span class="cdx-accordion__header__title">{{label}}</span>
					</div>
				</summary>
				<div class="cdx-accordion__content">
					{{{values-html}}}
				</div>
			</details>
		{{/facets}}
	</div>
</div>