{{!
	Codex - Accordion component
	@see https://doc.wikimedia.org/codex/v1.14.0/components/demos/accordion.html#markup-structure
}}
<details
	class="wikibase-faceted-search__facet cdx-accordion"
	{{#expanded}}open{{/expanded}}
	data-property-id="{{propertyId}}"
>
	<summary>
		<div class="cdx-accordion__header">
			<span class="cdx-accordion__header__title">{{label}}</span>
		</div>
	</summary>
	<div class="cdx-accordion__content">
		{{{facetHtml}}}
	</div>
</details>
