<div class="wikibase-faceted-search__facet-toggle">
	<a class="wikibase-faceted-search__cdx-button-link" href="">
		<button class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">{{msg-and}}</button>
	</a>
	<a class="wikibase-faceted-search__cdx-button-link" href="">
		<button class="cdx-button" disabled>{{msg-or}}</button>
	</a>
</div>