<select
	class="wikibase-faceted-search__facet-mode cdx-select"
	data-default-value="{{defaultValue}}"
>
	{{#options}}
		<option value="{{value}}" {{#selected}}selected{{/selected}} {{#disabled}}disabled{{/disabled}}>{{label}}</option>
	{{/options}}
</select>
