<div class="wikibase-faceted-search__facet-item wikibase-faceted-search__facet-item-range">
	{{!
		Codex - TextInput component
		@see https://doc.wikimedia.org/codex/v1.14.0/components/demos/text-input.html#markup-structure
	}}
	<div class="cdx-text-input">
		<input
			class="cdx-text-input__input"
			type="text"
			placeholder="{{msg-min}}"
			value="{{current-min}}"
		/>
	</div>
	<div class="cdx-text-input">
		<input
			class="cdx-text-input__input"
			type="text"
			placeholder="{{msg-max}}"
			value="{{current-max}}"
		/>
	</div>
</div>