<div class="wikibase-faceted-search__facets">
	{{#facets}}
		<div class="wikibase-faceted-search__facet">
			<div class="wikibase-faceted-search__facet-label">
				{{label}}
			</div>
			<div class="wikibase-faceted-search__facet-values">
				{{{values-html}}}
			</div>
		</div>
	{{/facets}}
</div>
