{{!
	Codex - Radio component
	@see https://doc.wikimedia.org/codex/main/components/demos/radio.html#markup-structure
}}
<div class="cdx-radio">
	{{! Facet item should be a link to a new search result page }}
	<a class="wikibase-faceted-search__facet-item wikibase-faceted-search__facet-item-radio" href="{{url}}">
		<div class="cdx-radio__wrapper">
			<input
				id="{{id}}"
				class="cdx-radio__input"
				type="radio"
				name="{{name}}"
				{{#selected}}checked{{/selected}}
				{{! Prevent input from being interacted by keyboard}}
				tabindex="-1"
			/>
			<span class="cdx-radio__icon"></span>
			<div class="cdx-radio__label cdx-label">
				<label for="{{id}}" class="cdx-label__label">
					{{! Change to <div> tag instead of <span> tag for valid HTML }}
					<span class="cdx-label__label__text">{{>FacetItemLabel}}</span>
				</label>
			</div>
		</div>
	</a>
</div>