{{#toggle}}
	<div class="wikibase-faceted-search__facet-toggle">
		{{#and}}
			<button 
			class="cdx-button {{#selected}}cdx-button--action-progressive cdx-button--weight-primary{{/selected}}"
			{{#disabled}}disabled{{/disabled}}
			>
				{{label}}
			</button>
		{{/and}}
		{{#or}}
			<button
			class="cdx-button {{#selected}}cdx-button--action-progressive cdx-button--weight-primary{{/selected}}"
			{{#disabled}}disabled{{/disabled}}
			>
				{{label}}
			</button>
		{{/or}}
	</div>
{{/toggle}}

{{#checkboxes}}
	<div
		class="wikibase-faceted-search__facet-item wikibase-faceted-search__facet-item-checkbox cdx-checkbox"
		data-value-id="{{value-id}}"
	>
		<div class="cdx-checkbox__wrapper">
			<input
				id="{{id}}"
				class="cdx-checkbox__input"
				type="checkbox"
				{{#checked}}checked{{/checked}}
				{{! Prevent input from being interacted by keyboard}}
				tabindex="-1"
			/>
			<span class="cdx-checkbox__icon"></span>
			<div class="cdx-checkbox__label cdx-label">
				<label class="cdx-label__label" for="{{id}}">
					<span class="cdx-label__label__text">{{>FacetItemLabel}}</span>
				</label>
			</div>
		</div>
	</div>
{{/checkboxes}}
