<div class="wikibase-faceted-search__facet-item wikibase-faceted-search__facet-item-range">
	{{!
		Codex - TextInput component
		@see https://doc.wikimedia.org/codex/v1.14.0/components/demos/text-input.html#markup-structure
	}}
	<div class="wikibase-faceted-search__facet-item-range-min cdx-text-input">
		<input
			class="cdx-text-input__input"
			type="text"
			placeholder="{{msg-min}}"
			value="{{current-min}}"
		/>
	</div>
	<div class="wikibase-faceted-search__facet-item-range-max cdx-text-input">
		<input
			class="cdx-text-input__input"
			type="text"
			placeholder="{{msg-max}}"
			value="{{current-max}}"
		/>
	</div>
	{{!
		Codex - Button component
		@see https://doc.wikimedia.org/codex/main/components/demos/button.html#markup-structure
	}}
	<button class="wikibase-faceted-search__facet-item-range-apply cdx-button" {{#disabled}}disabled{{/disabled}}>
		<span
			class="wikibase-faceted-search__icon wikibase-faceted-search__icon--check cdx-button__icon"
			aria-hidden="true"
		></span>
		{{msg-apply}}
	</button>
</div>